<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritten Character Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Handwritten Character Recognition</h1>
        <h5>(Draw the Character in the canvas below)</h5>
        <canvas id="canvas" width="400" height="400"></canvas>
        <div>
            <button id="clearBtn">Clear</button>
            <button id="predictBtn">Predict</button>
        </div>
        <p id="predictionResult"></p>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
